<!DOCTYPE html>
{% extends 'base.html'%}

{% block title %}
Home
{% endblock %}


{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to LooP PooP</h1>
      <p>
        Write ur thoughts, feelings or even quotes. Keep it short and simple. Stay anonymous or fill up the author name.
        Connect to people by leaving ur social handles at the end of post. Have fun. 
      </p>
      <p>Hey my name is Aryan this site's developer. Note that this is just for fun and experimentally
        purpose. Do control the kyubi inside u while posting. Be anything apart from a racist.
        Dont forget to have fun..p/o</p>
      <p>Contact me on <br>
        instagram <a href="https://instagram.com/x0h4n_30">@x0h4n_30</a><br>
        twitter <a href="https://twitter.com/x0h4n30">@x0h4n30</a>
      </p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
      </p>
    </div>
  </div>
{% endblock %}